.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;

  .featured__item {
    position: relative;
    color: var(--white-color);
    border-radius: 10px;
    overflow: hidden;
    height: 250px;

    .featured__item__img {
      width: 100%;
      object-fit: cover;
    }

    .featured__item__titles {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
  }
}
